body {
  color: rgb(170, 170, 0);
  background-color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: purple;
  font-family: sans-serif;
  font-size: 20px;
}

.flexing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-align: center; */
}

.head-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Copperplate, sans-serif;
}

.box {
  border: solid 8px purple;
}

.pad {
  padding: 50px;
}


.small-box {
  border: solid 5px purple;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spacing {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link {
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.content {
  padding: 20px;
  margin-top: 20px;
  font-family: sans-serif;
}


